textarea {
  border-style: inset;
  border-width: 2px;
}
.message-input{
  padding: 13px 15px 10px 10px;
  margin: 0px 5px 0px 5px;
  border: 3px solid var(--ion-color-medium);
  border-color: #294181;
  border-radius: 7px;
}


